<div class="wrapper">
  <h1 class="title">Dj Playlists</h1>
  <ul>
    <li matRipple>
      <a [routerLink]="['/playlist/', '5yot8VBGcTYkSRWVC3ISRX']">
          <img
               src="../../assets/female_dj.jpg">
            <h3>Dj La Boheme</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla</p>
      </a>
      <ul class="tools group" style="visibility: visible;">
        <li class="fav">
          <a class="toggle-fav">621</a>
        </li>
        <li class="views">
          <span>2117</span>
        </li>
      </ul>
    </li>

    <li matRipple>
      <a [routerLink]="['/playlist/', '6hu4s5s92lZdXscKK45aaX']">
        <img matListAvatar
          src="../../assets/glasses_dj.jpg">
        <h3>Dj Er Rozzo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla
          vestibulum adipiscing.</p>
      </a>
      <ul class="tools group" style="visibility: visible;">
        <li class="fav">
          <a class="toggle-fav">600</a>
        </li>
        <li class="views">
          <span>1028</span>
        </li>
      </ul>
    </li>

    <li matRipple>
      <a [routerLink]="['/playlist/', '4CnjucLyV7ybkjREEAXpvG']">
        <img
          src="../../assets/mutze_dj.jpg">
        <h3>Dj Der Cubanero</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla
          vestibulum adipiscing.</p>
      </a>
      <ul class="tools group" style="visibility: visible;">
        <li class="fav">
          <a class="toggle-fav">456</a>
        </li>
        <li class="views">
          <span>972</span>
        </li>
      </ul>
    </li>

    <li matRipple>
      <a [routerLink]="['/playlist/', '2i7Q0hwxwKiKfd8taXnMFF']">
        <img matListAvatar
          src="../../assets/bionda_dj.jpg">
        <h3>Dj Napicii</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla
          vestibulum adipiscing.</p>
      </a>
      <ul class="tools group" style="visibility: visible;">
        <li class="fav">
          <a class="toggle-fav">115</a>
        </li>
        <li class="views">
          <span>923</span>
        </li>
      </ul>
    </li>
    <li matRipple>
      <a [routerLink]="['/playlist/', '2i7Q0hwxwKiKfd8taXnMFF']">
        <img matListAvatar
          src="../../assets/onda_dj.jpg">
        <h3>Dj Calipa</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla
          vestibulum adipiscing.</p>
      </a>
      <ul class="tools group" style="visibility: visible;">
        <li class="fav">
          <a class="toggle-fav">91</a>
        </li>
        <li class="views">
          <span>213</span>
        </li>
      </ul>
    </li>
  </ul>
</div>
