/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$salsa-app-primary: mat-palette($mat-amber);
$salsa-app-accent:  mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$salsa-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$salsa-app-theme: mat-light-theme($salsa-app-primary, $salsa-app-accent, $salsa-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($salsa-app-theme);


@import '~material-bottom-nav';

.bottom-nav {
  @include bottom-nav($background-color: #a81212, $active-color: #ffffff, $inactive-color: yellow, $hide-inactive-labels: false);
}


/** Fonts from the web */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/mat-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* latin-ext */
@font-face {
  font-family: 'Stint Ultra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Condensed'), local('StintUltraCondensed-Regular'), url(https://fonts.gstatic.com/s/stintultracondensed/v7/-W_gXIrsVjjeyEnPC45qD2NoFPtBE0xCh2AOox8P-8B_d_-E.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Stint Ultra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Condensed'), local('StintUltraCondensed-Regular'), url(https://fonts.gstatic.com/s/stintultracondensed/v7/-W_gXIrsVjjeyEnPC45qD2NoFPtBE0xCh2AOrR8P-8B_dw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* end fonts from the web */

.cnd-txt{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
}

.scnd.txt{
  color: #6f7287;
}

.exp-text-grey{
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

mwl-calendar-month-view-header> div.cal-cell-row.cal-header{
  color: #999;
  font-weight: 500;
  letter-spacing: .07em;
}

.cal-month-view .cal-day-badge {
  /* background-color: #00bcd4; */
  background-color: #039BE5;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
  float: left;
  margin-left: 10px;
  min-width: 20px;
}

.cal-month-view .cal-event {
  background-color: #E7D070 !important;
}

.btn{
  letter-spacing: .2rem;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(174, 190, 212, 0.4);
}

.btn-primary{
  background-color: #039BE5;;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin: .5rem;
}

div.btn.btn-outline-secondary{
  border: none;
  color: #655176;
  background-color: #e3e8ec69;
}

div.btn.btn-outline-secondary:hover{
  background-color: #1e003769;
  color: #fff;
}

div.btn.btn-primary.active, div.btn.btn-primary:active{
   background-color: #039BE5 !important;
   border: none;
   color: #fff;
 }

.btn-primary:hover, .btn-primary.active:hover  {
  color: #ffffff;
  background-color: rgba(3, 155, 229, 0.71) !important;
  border-color: none;
}

@font-face {
  font-family: ostrich-light;
  font-display: auto;
  src: url('./assets/ostrich-sans-light.woff') format("woff");
}
@font-face {
  font-family: ostrich-regular;
  font-display: auto;
  src: url('./assets/ostrich-sans-regular.woff') format("woff");
}

.font-ostrich-light{
  font-family: ostrich-light, sans-serif;
  font-display: auto;
}

.font-ostrich-regular{
  font-family: ostrich-regular, sans-serif;
}

.font-sans-serif{
  font-family: sans-serif;
}

.font-stint{
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: large;
}

body {
  line-height: 1em;
  overflow-x: hidden;
}

body, h3 {
  font-family: ostrich-regular, sans-serif;
  font-size: large;
}

h3{
  font-size: x-large;
}

.calendar[_ngcontent-c2]{
background-color: white;
}
.cal-month-view .cal-open-day-events{
  display: none;
}

.cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: #d7d8ea82;;
  /* #d7d8ea; */
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: #ededed;
}

#bg {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -100;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  background-color: rgb(245, 245, 245);
  opacity: 0.4;
}


/* Let's get this party started */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(213, 211, 215, 0.06);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(82, 200, 255, 0.4);
}

@media (max-width: 576px) {
  #bg{
    display: none;
    max-width: 20%;
  }
  body{
    background-color: rgb(255, 255, 255);
  }
}

.material-icons.md-dark{
  color: rgba(191,191,191,1);
}
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.46); }


button div.mat-button-toggle-label-content {
  .mat-button-toggle-appearance-standard & {
    line-height: 36px;
  }
}

button:focus {
  outline: none;
}

.sidenav-overlay {
  z-index: 2;
}

.mat-snack-bar-container{
  margin-bottom: 70px!important;
  background-color: #ffffff;
  border-left: 4px solid #a81212;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: medium;
  color: #908b8b;
}

/** mobile calendar custom

.evt{
  // background-color: #ffc1071c;
  // border-radius: 100%;
}

.badge-1{
  position: absolute;
  &:after{
    position: relative;
    background-color: rgba(27, 30, 33, 0.23);
    content: '1';
    width: 10px;
    height: 10px;
    right: -23px;
    top: -7px;
    border-radius: 100%;
    color: #ffffff;
    font-size: x-small;
    display: block;
    line-height: 10px;
  }
}

.badge-2{
  background-color: green;
}
*/
