.info-block{
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: medium;
  color: #908b8b;
  border: 1px solid #eee;
  border-left-width: 4px;
  border-radius: 3px;
  border-left-color: #a81212;
}

